.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-button:hover {
    background-color: #f0f0f0;
}

.page-button:disabled {
    cursor: not-allowed;
    color: #aaa;
    border-color: #aaa;
}

.page-number {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 15px;
    margin: 0 5px;
}

.current-page {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}
